{% extends 'base.html' %}

{% comment %}

    This template acts as the 'Account Activation Invalid' page (the page that comes if the account activate link is invalid) 
    for the website.
    Note that it has been kept bare minimum as the template is project dependent. 

{% endcomment %}

{% block meta %}
{% endblock %}

{% block title %}
Sign Up
{% endblock %}

{% block css %}
{% endblock %}

{% block pre-js %} 
{% endblock %}

{% block body %}
<div>
    <p>
        The confirmation link was invalid, possibly because it has already been used.
    </p>
</div>
{% endblock %}

{% block post-js %} 
{% endblock %}
