{% extends 'base.html' %}

{% comment %}

    This template acts as the 'Account Activation Sent' page (the page that comes after account activation email is sent) 
    for the website.
    Note that it has been kept bare minimum as the template is project dependent. 

{% endcomment %}

{% block meta %}
{% endblock %}

{% block title %}
Sign Up | {{ project_name }}
{% endblock %}

{% block css %}
{% endblock %}

{% block pre-js %} 
{% endblock %}

{% block body %}
<div>
    <p>
        Please confirm your email address to complete the registration. <br>
        Check your inbox for an email containing the instructions to do the same.
    </p>
</div>
{% endblock %}

{% block post-js %} 
{% endblock %}
