{% extends 'base.html' %}

{% comment %}

    This template acts as the 'Password Reset Form' for the website. It asks for
    the user's email-id so as to send an email containing instructions to reset her/his password.
    Note that it has been kept bare minimum as the template is project dependent. 

{% endcomment %}

{% block meta %}
{% endblock %}

{% block title %}
Forgot Password?
{% endblock %}

{% block css %}
{% endblock %}

{% block pre-js %} 
{% endblock %}

{% block body %}
<div>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send Reset Instructions</button>
    </form>
</div>
{% endblock %}

{% block post-js %} 
{% endblock %}
