{% comment %}

    This template acts as the 'Password Reset Email' (containing the the password reset link).
    Note that it has been kept bare minimum as the template is project dependent. 

{% endcomment %}

<!DOCTYPE html>
<html>

<head>
    <style>
        /* Add your CSS (for the email) here. */
    </style>
</head>

<body>
    <div>
        <p>
            <h3>Hey {{ user.username }}, </h3>
            Someone (hopefully you) requested that the password for your {{ project_name }} account be reset.<br />
            Please click (or copy-paste into your web browser) the below URL to do so.
        </p>
        <br>
        <p>
            <a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
                <u>{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</u>
            </a>
        </p>
        <br>
        <p>
            Best,<br>
            The {{ project_name }} Team 😎
        </p>
    </div>
</body>

</html>