{% extends 'base.html' %}

{% comment %}

    This template acts as the 'Password Reset Confirm' page (the page containing the form to set a new password) 
    for the website.
    Note that it has been kept bare minimum as the template is project dependent. 

{% endcomment %}

{% block meta %}
{% endblock %}

{% block title %}
Reset Password
{% endblock %}

{% block css %}
{% endblock %}

{% block pre-js %} 
{% endblock %}

{% block body %}
{% if validlink %}
<div>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</div>
{% else %}
<div>
    <p>
        The password reset link was invalid, possibly because it has already been used.<br>
        Please request a new password reset.
    </p>
</div>
{% endif %}
{% endblock %}

{% block post-js %} 
{% endblock %}
