{% extends 'base.html' %}

{% comment %}

    This template acts as the 'Sign In' page for the website.
    Note that it has been kept bare minimum as the template is project dependent. 

{% endcomment %}

{% block meta %}
{% endblock %}

{% block title %}
Sign In
{% endblock %}

{% block css %}
{% endblock %}

{% block pre-js %} 
{% endblock %}

{% block body %}
<div>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign In</button>
    </form>
</div>
{% endblock %}

{% block post-js %} 
{% endblock %}
